.index,
.recipe1,
.recipe2,
.recipe3 {
    background-color: grey;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: black;
    border-radius: 25px;
    color: white;
}

h2 {
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

.li-link {
    margin-bottom: 2px;
}

a:visited {
    color: black;
}

a:hover {
    color: blue;
}

.ol-items {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px; 
    width: 99px;
    height: 60px;  
}

.ol-steps {
    color: deeppink;
}

body {
    background-color: rgb(211,211,211);
}